<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
  </head>
  <body>
    <h1>Home</h1>
    <p>
	Welcome on Rub my snake. 
     <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

    </p>
  </body>
</html>

